body{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}
button{
    background: blue;
    color: turquoise;
    font-family: 'Times New Roman', Times, serif;
}